.product {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 120px;
}

.product > * {
  text-align: center;
}

.imgcontainer {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: var(--lightGrey);
  border-radius: 4px;
}

.img {
  width: auto;
  min-width: 350px;
  height: 352px;
  border-radius: 4px;
}

.newproduct {
  font-size: 14px;
  color: var(--darkOrange);
  text-transform: uppercase;
  letter-spacing: 10px;
  margin-top: 24px;
}

.name {
  font-weight: bold;
  font-size: 28px;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-bottom: 24px;
  margin-top: 32px;
}

.description {
  font-weight: 500;
  font-size: 15px;
  opacity: 50%;
  margin-bottom: 24px;
}

.link {
  background-color: var(--darkOrange);
}

.productcontainer {
  margin-bottom: 164px;
}

@media screen and (min-width: 767px) {
  .name {
    margin-top: 16px;
    padding: 0 40vw;
    font-size: 40px;
  }

  .description {
    padding: 0 21vw;
  }

  .imgcontainerleft {
    background-color: var(--lightGrey);
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .imgcontainerright {
    background-color: var(--lightGrey);
    width: 100%;
    display: flex;
    justify-content: center;
  }
}

@media screen and (min-width: 1024px) {
  .product {
    display: grid;
    grid-template-columns: [left] 50% [right] 50%;
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
  }

  .img {
    height: 560px;
  }

  .imgcontainerleft {
    background-color: var(--white);
    grid-column-start: left;
    grid-column-end: left;
    justify-content: flex-end;
  }

  .imgcontainerright {
    background-color: var(--white);
    grid-column-start: right;
    grid-column-end: right;
    justify-content: flex-start;
  }

  .contentcontainerright {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 4vw;
    grid-column-start: right;
    grid-column-end: right;
  }

  .contentcontainerright > .name {
    text-align: left;
  }
  .contentcontainerleft {
    grid-area: 1 / 1 / 2 / 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    padding: 0;
    grid-column-start: left;
    grid-column-end: left;
    padding-right: 8vw;
  }

  .contentcontainerleft > h2, .contentcontainerleft > p {
    padding: 0;
    text-align: right;
    
  }
  .name {
    padding: 0;
    padding-right: 40vw;
  }

  .description {
    text-align: left;
    padding: 0;
    padding-right: 13vw;
  }
}
