.main {
  background-color: var(--lighterGrey);
}

.page {
  background-color: var(--lighterGrey);
}

.section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.h1 {
  text-transform: uppercase;
  font-size: 28px;
  letter-spacing: 1px;
  font-weight: bold;
  margin-bottom: 32px;
  margin-top: 24px;
}

.h2 {
  text-transform: uppercase;
  font-size: 13px;
  letter-spacing: 0.93px;
  font-weight: bold;
  color: var(--darkOrange);
  margin-left: 5vw;
  margin-bottom: 20px;
}

.label {
  font-weight: bold;
  letter-spacing: -0.21px;
  font-size: 12px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 9px;
}

.label > p {
  align-self: flex-start;
  margin-left: 5vw;
  margin-bottom: 8px;
}

.form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--white);
  border-radius: 8px;
}

.form > h1 {
  align-self: flex-start;
  margin-left: 5vw;
}

.formcontainer {
  width: 100%;
}

.textinput {
  width: 90%;
  opacity: 50%;
  height: 56px;
  border-radius: 8px;
  border: 2px solid #0000006b;
  margin-bottom: 24px;
  padding-left: 24px;
  font-size: 14px;
  font-weight: bold;
}

.fieldset {
  border: none;
  padding: 0;
  margin-bottom: 32px;
}

.legend {
  margin-left: 5vw;
  margin-bottom: 12px;
  font-weight: bold;
  font-size: 12px;
  letter-spacing: -0.21px;
}

.paymentmethodlabel {
  width: 90%;
  height: 56px;
  border-radius: 8px;
  border: 2px solid #0000006b;
  margin-bottom: 24px;
  padding-left: 24px;
  font-size: 14px;
  font-weight: bold;
  margin-left: 5vw;
  font-weight: bold;
  letter-spacing: -0.25px;
  font-size: 12px;
  display: flex;
  align-items: center;
  margin-bottom: 9px;
}

.paymentmethodlabel > input {
  width: 20px;
  height: 20px;
  accent-color: var(--darkOrange);
  opacity: 100%;
  margin-right: 21px;
}

.section:first-of-type {
  margin-bottom: 32px;
}

.summarycontainer {
  background-color: var(--white);
  width: 100%;
  border-radius: 8px;
  padding: 32px 24px;
}

.item {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 24px;
}

.imagecontainer {
  height: 64px;
  flex: 0 0 64px;
  margin-right: 16px;
}

.image {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 8px;
}

.name {
  font-weight: bold;
  font-size: 15px;
  line-height: 25px;
  text-transform: uppercase;
}

.price {
  font-weight: bold;
  font-size: 14px;
  line-height: 25px;
  opacity: 50%;
}

.namepricecontainer {
  flex: 0 0 188px;
}

.quantity {
  width: 100%;
  font-weight: bold;
  font-size: 15px;
  line-height: 25px;
  opacity: 50%;
  display: flex;
  justify-content: flex-end;
}

.totalcontainer,
.shippingcontainer,
.vatcontainer,
.grandtotalcontainer {
  display: flex;
  justify-content: space-between;
}

.grandtotalcontainer {
  margin-bottom: 32px;
}

.total {
  font-weight: medium;
  text-transform: uppercase;
  font-size: 15px;
  line-height: 25px;
  opacity: 50%;
}

.totalprice {
  font-weight: bold;
  font-size: 18px;
}

.modalimagecontainer {
  height: 64px;
  width: 64px;
  flex: 0 0 64px;
  margin-right: 16px;
  background-color: (var--lightGrey);
}

.modalimage {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 8px;
}

.modalitem {
  display: none;
}

.modalitem:first-of-type {
  display: flex;
  background-color: var(--lightGrey);
  align-items: center;
  padding-top: 24px;
}

.modalspacer {
  height: 1px;
  width: 80%;
  background-color: black;
  margin-bottom: 16px;
  opacity: 8%;
}

.modalpricecontainer {
  margin-right: 82px;
}

.modalname {
  font-weight: bold;
  font-size: 15px;
  line-height: 25px;
  text-transform: uppercase;
}
.modalprice {
  font-weight: bold;
  opacity: 50%;
  font-size: 14px;
  line-height: 25px;
}

.modalh1 {
  font-weight: bold;
  font-size: 15px;
  line-height: 25px;
  text-transform: uppercase;
  margin-bottom: 16px;
}

.checkoutimagecontainer {
  height: 64px;
  width: 64px;
  flex: 0 0 64px;
  margin-right: 16px;
  margin-bottom: 23px;
}

.thankyouh1 {
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  margin-bottom: 16px;
  letter-spacing: 0.86px;
}

.thankyoup {
  font-weight: medium;
  font-size: 15px;
  line-height: 25px;
  margin-bottom: 16px;
  opacity: 50%;
}

.modalitemoutercontainer {
  background-color: var(--lightGrey);
}

.modalitemcontainer {
  margin-bottom: 12px;
}

.modalotheritems {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--lightGrey);
}

.modalotheritemsp {
  font-weight: bold;
  font-size: 12px;
  letter-spacing: -0.21px;
  opacity: 50%;
  margin-bottom: 25px;
}

.modaltotalcontainer {
  background-color: black;
  width: 100%;
  height: 92px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 24px;
  border-radius: 0 0 8px 8px;
  margin-bottom: 23px;
}

.modaltotaltitle {
  font-weight: medium;
  font-size: 15px;
  line-height: 25px;
  color: var(--white);
  opacity: 50%;
  text-transform: uppercase;
  margin-top: 15px;
  margin-bottom: 8px;
}

.modaltotal {
  font-weight: bold;
  color: var(--white);
  font-size: 18px;
}

@media screen and (min-width: 767px) {
  .formcontainer {
    padding: 0 24px;
  }
  .formcontainer:first-of-type {
    display: grid;

  }

  .formcontainer:first-of-type > h2 {
    grid-area: 1 / 1 / 2 / 2;
    margin-left: 18px;
  }

  .label > p {
    margin-left: 20px;
  }
  .formcontainer:first-of-type > .label:first-of-type {
    grid-area: 2 / 1 / 3 / 2;
  }

  .formcontainer:first-of-type > .label:nth-of-type(2) {
    grid-area: 2 / 2 / 3 / 3;
  }

  .formcontainer:first-of-type > .label:last-of-type {
    grid-area: 3 / 1 / 4 / 2;
  }

  .formcontainer:nth-of-type(2) {
    display: grid;
  }

  .formcontainer:nth-of-type(2) > h2 {
    grid-area: 1 / 1 / 2 / 2;
    margin-left: 18px;
  }
  .formcontainer:nth-of-type(2) > .label:first-of-type {
    grid-area: 2 / 1 / 3 / 2;
  }

  .formcontainer:nth-of-type(2) > .label:nth-of-type(2) {
    grid-area: 2 / 2 / 3 / 3;
  }
  .formcontainer:nth-of-type(2) > .label:nth-of-type(3) {
    grid-area: 3 / 1 / 4 / 2;
  }
  .formcontainer:nth-of-type(2) > .label:last-of-type {
    grid-area: 3 / 2 / 4 / 3;
  }

  .formcontainer:nth-of-type(3) > h2 {
    margin-left: 20px;
  }
  .fieldset {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    padding: 0;
  }
  .legend {
    margin-left: 20px;
  }
  .fieldset > h2 {
    grid-area: 1 / 1 / 2 / 2;
    height: 16px;

  }

  .fieldset > label:first-of-type {
    margin-top: -64px;
  }

  .fieldset > label:last-of-type {
    margin-top: -32px;
  }
  .fieldset > .legend {
    grid-area: 2 / 1 / 3 / 2;
  }

  .fieldset > .paymentmethodlabel:first-of-type {
    grid-area: 2 / 2 / 3 / 3;
  }

  .fieldset > .paymentmethodlabel:last-of-type {
    grid-area: 3 / 2 / 4 / 3;
  }

  .emoneysection {
    display: flex;
  }

  .emoneysection > * {
    flex: 1 1 50%;
  }

  .paymentmethodlabel {
    padding-left: 1vw;
    margin-left: 2.35vw;
  }
}
