.linkbutton {
  background-color: #d87d4a;
  border-color: #d87d4a;
  border: 0;
  color: #f1f1f1;
  width: 162px;
  height: 48px;
  font-size: 0.8125rem;
  font-weight: bold;
  letter-spacing: 1px;
}